extends layout

block content
  h1
    center
      | #{title}
  p
    center
      | #{content}

  script(type="text/javascript", src="/javascripts/wait_db.js")
  script(type="text/javascript") do_wait();
  script(type="text/javascript") var binanceKey='#{binanceKey}';
  script(type="text/javascript") var binanceSecret='#{binanceSecret}';
  script(type="text/javascript") var krakenKey='#{krakenKey}';
  script(type="text/javascript") var krakenSecret='#{krakenSecret}';
  script(type="text/javascript") var ftxKey="#{ftxKey}";
  script(type="text/javascript") var ftxSecret='#{ftxSecret}';
  script(type="text/javascript") var ftxSubAccount="#{ftxSubAccount}";
  script(type="text/javascript") var outExchange="#{outExchange}";
  script(type="text/javascript") var outKey="#{outKey}";
  script(type="text/javascript") var outKeySecret="#{outKeySecret}";
  script(type="text/javascript") var outExchangeSubAccount="#{outExchangeSubAccount}";

  form(method="get", enctype="application/x-www-form-urlencoded", action="/run")
    table
      tr(class="tr-th")
        td(colspan="2", bgcolor="#AAAAAA", class="td-th")
          p
            center
              em
                font(color="#FFFFFF")
                  | Input API keys (Keys for exchange platform for orders we listen to)
      tr(bgcolor="#DDFFDD", class="in-key-tr")
        td
          p
            center
              a(href="#", onClick="url='/set_api_keys?exchange=binance&Key='+document.getElementById('binance_key').value+'&Secret='+document.getElementById('binance_key_secret').value; window.location=url; ")
                strong
                  | (==&gt; set &lt;==)

        td(class="inner-in-key-td")
          table(width="700pt", class="inner-table")
            tr(class="inner-in-key-tr")
              td(bgcolor="#AAFFAA", class="in-key-td")
                | Binance key name:
              td(width="400pt", align="center", class="in-key-no-td")
                input(type="text", class="key-input", size="50", readonly, id="binance_key", name="binance_key", placeholder="Binance Key to set ...", autocomplete="API key name", value="")
            tr(class="in-key-tr")
              td(bgcolor="#AAFFAA", class="in-key-td")
                | Binance key secret:
              td(width="400pt", align="center", class="in-key-no-td")
                input(type="password", class="key-input", size="50", readonly, id="binance_key_secret", name="binance_key_secret", placeholder="Binance Key Secret to set ...", autocomplete="API key secret", value="")
      tr(bgcolor="#DDFFDD", class="in-key-tr")
        td
          p
            center
              a(href="#", onClick="url='/set_api_keys?exchange=ftx&Key='+document.getElementById('ftx_key').value+'&Secret='+document.getElementById('ftx_key_secret').value+'&SubAccount='+document.getElementById('ftx_subaccount').value; window.location=url; ")
                strong
                  | (==&gt; set &lt;==)
        td(class="inner-in-key-td")
          table(width="700pt", class="inner-table")
            tr(class="in-key-tr")
              td(bgcolor="#AAFFAA", class="in-key-td")
                | FTX key name:
              td(width="400pt", align="center", class="in-key-no-td")
                input(type="text", class="key-input", size="50", readonly, id="ftx_key", name="ftx_key", placeholder="FTX Key to set ...", autocomplete="API key name", value="")
            tr(class="in-key-tr")
              td(bgcolor="#AAFFAA", class="in-key-td")
                | FTX key secret:
              td(width="400pt", align="center", class="in-key-no-td")
                input(type="password", class="key-input", size="50", readonly, id="ftx_key_secret", name="ftx_key_secret", placeholder="FTX Key Secret to set ...", autocomplete="API key secret", value="")
            tr(class="in-key-tr")
              td(bgcolor="#AAFFAA", class="in-key-td")
                FTX sub account:
              td(width="400pt", align="center", class="in-key-no-td")
                input(type="text", class="key-input", size="50", readonly, id="ftx_subaccount", name="ftx_subaccount", placeholder="FTX subaccount to set ...", autocomplete="account name", value="")
      tr(bgcolor="#DDFFDD", class="in-key-tr")
        td
          p
            center
              a(href="#", onClick="url='/set_api_keys?exchange=kraken&Key='+document.getElementById('kraken_key').value+'&Secret='+document.getElementById('kraken_key_secret').value; window.location=url; ")
                strong
                  |  (==&gt; set &lt;==)
        td(class="inner-in-key-td")
          table(width="700pt", class="inner-table")
            tr(class="in-key-tr")
              td(bgcolor="#AAFFAA", class="in-key-td")
                | Kraken key name:
              td(width="400pt", align="center", class="in-key-no-td")
                input(type="text", class="key-input", size="50", readonly, id="kraken_key", name="kraken_key", placeholder="Kraken Key to set ...", autocomplete="API key name", value="")
            tr(class="in-key-tr")
              td(bgcolor="#AAFFAA", class="in-key-td")
                | Kraken key secret:
              td(width="400pt", align="center", class="in-key-no-td")
                input(type="password", class="key-input", size="50", readonly, id="kraken_key_secret", name="kraken_key_secret", placeholder="Kraken Key Secret to set ...", autocomplete="API key secret", value="")
      tr(class="th")
        td(colspan="2", bgcolor="#AAAAAA", class="td-th")
          p
            center
              em
                font(color="#FFFFFF")
                  | Output API keys (Keys for exchange platform we emit scaled orders)
      tr(bgcolor="#FFDDDD", class="out-key-tr")
        td
          p
            center
              label(for="out_exchange")
                | Output exchange:
                select(name="out_exchange", id="out_exchange")
                  option(name="ftx", id="ftx", value="ftx", selected="ftx")
                    | ftx
                  option(name="binance", id="binance", value="binance")
                    | binance
                  option(name="kraken", id="kraken", value="kraken")
                    | kraken
            br
            center
              a(href="#", onClick="url='/set_out_api_keys?exchange='+document.getElementById('out_exchange').selected+'&subaccount='+document.getElementById('out_exchange_subaccount').value+'&Key='+document.getElementById('outkey').value+'&Secret='+document.getElementById('outkey_secret').value; alert(url); document.location.href=url; ")
                strong
                  | (==&gt; set &lt;==)
        td(class="inner-out-key-td")
          table(width="700pt", class="inner-table")
            tr(class="out-key-tr")
              td(bgcolor="#FFAAAA", class="out-key-td")
                | Out exchange key name:
              td(width="400pt", align="center", class="out-key-no-td")
                input(type="text", class="key-input", size="50", readonly, id="outkey", name="outkey", placeholder="Output Key to set ...", autocomplete="API key name", value="")
            tr(class="out-key-tr")
              td(bgcolor="#FFAAAA", class="out-key-td")
                | Out exchange key secret:
              td(width="400pt", align="center", class="out-key-no-td")
                input(type="password", class="key-input", size="50", readonly, id="outkey_secret", name="outkey_secret", placeholder="Output Key Secret to set ...", autocomplete="API key secret", value="")
            tr(class="out-key-tr")
              td(bgcolor="#FFAAAA", class="out-key-td")
                | Out exchange sub account:
              td(width="400pt", align="center", class="out-key-no-td")
                input(type="text", class="key-input", size="50", readonly, id="out_exchange_subaccount", name="out_exchange_subaccount", placeholder="Output exchange sub account to use ...", value="")
  p
    center
      input(type="button", id="run_button", value="Start spy bot ...", onClick="document.location.href='/run'")
  script(type="text/javascript", src="/javascripts/set_keys.js")
